.btn {
    background-color: $green;
    color: $white;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all .6s;

    &:hover {
        background-color: $white;
        color: $green;
    }
}

.btn-secondary-hover:hover {
    border-color: $green;
}

.pointer {
    cursor: pointer;
}