.btn {
    background-color: $green;
    color: $white;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .6s;

    &:hover {
        background-color: $white;
        color: $green;
    }
}