.primary-input {
    border: 2px solid $green;
    background-color: transparent;
    border-radius: 6px;
    padding: .3rem 1rem .3rem .4rem;
    color: $black;
    outline: none;
    position: relative;
    display: block;

    &::placeholder {
        color: $black;
    }
}

label {
    display: block;
}