.product-carousel {
	margin-top: 100px;

	h2 {
		cursor: pointer;
		display: inline-block;
		display: flex;
		align-items: center;

		img {
			display: inline-block;
			width: auto;
			height: 40px;
			margin-left: 1rem;
		}
	}
}

.product-carousel-wrap {
	margin-top: 1.6rem;
	display: flex;
	gap: 2.6rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-padding: 0;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.product-carousel-item {
	width: 215px;
	height: 240px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
	background-color: #fff;
	font-size: 1.5rem;
	padding: 25px;
	border-radius: 6px;

	.product-carousel-image {
		width: 160px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		img {
			max-width: 100%;
			max-height: 100%;
			position: relative;
			display: block;
		}
	}

	h5 {
		margin-top: 1.2rem;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
	}

	p {
		margin-bottom: 0;
	}
}

.product-carousel-controls-wrap {
	position: relative;
	display: block;
}

.product-carousel-controls {
	display: none;
	position: absolute;
	list-style-type: none;
	justify-content: space-between;
	width: 100%;
	top: 140px;
	left: 0;
	padding-left: 0;

	li {
		margin-left: -100px;
		cursor: pointer;

		&:last-of-type {
			margin-right: -100px;
		}
	}

	img {
		height: 60px;
		width: auto;
	}
}

@media only screen and (min-width: 992px) {
	.product-carousel-controls {
		display: flex;
	}

	.product-carousel-wrap {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}